# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!ChairModels/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

__pycache__/
lib
CMakeFiles/
testfiles/
CMakeCache.txt
Makefile
mytest
python/
.vscode/
subd
mcaq
chair
ChairModelsBackOffset
ChairModelsAllOffset
ChairModelsLegOffset
ChairImagesBackOffset
ChairImagesAllOffset
ChairImagesLegOffset
ChairImagesTestOffset
chairs-data
cmake_install.cmake
.DS_Store
__pycache__/
output_Front/
output_Side/
output_Top/
Renderded/
Completion/