# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!ChairModels/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lib
CMakeFiles/
testfiles/
CMakeCache.txt
Makefile
mytest
python/
Rendered
.vscode/
subd
mcaq
chair
__pycache__
cmake_install.cmake
score.txt
